#instrument {
    margin: auto;
    position: absolute;
    top: 500px;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 0 25px black;
    box-shadow: 0 0 25px black;
    display: inline;
    width: 140px;
    background-color: saddlebrown;
    height: 625px;
}

.amp {
    height: 650px;
    margin: auto;
    width: 100%;
    border: solid inset 2px;
    background-color: #001007;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 25px;
    box-shadow: 0 0 25px;
    margin-top: 150px;
}
/*Seperates the anchors*/
div#instrument a {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 25px;
   
}

.box {
    width: 2px;
    margin-left: 13px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 95%;
    margin-top: 35px;
}


.box h2 {
    font-family: monospace;
    color: whitesmoke;
    font-size: 24px;
    text-shadow: 0 0 10px snow;
   position: relative;
bottom: 55px;
    right:6.3px;
}

/*These are the styles that individually color our boxes and also determine the hover and active states*/

#E:hover {
    background-color: white;
    cursor: pointer;
}

#E:active {
    background-color: whitesmoke;
    -webkit-box-shadow: 0 0 5px whitesmoke;
    box-shadow: 0 0 5px whitesmoke;
}

#E {
    background-color: silver;
    border: 2.5px solid black;
    -webkit-box-shadow: 0 0 25px black;
    box-shadow: 0 0 25px black;
}

#d:hover {
    background-color: snow;
    cursor: pointer;
}

#d:active {
    background-color: silver;
    -webkit-box-shadow: 0 0 5px whitesmoke;
    box-shadow: 0 0 5px whitesmoke;
}

#d {
    background-color: silver;
    border: 2.5px solid black;
    -webkit-box-shadow: 0 0 25px;
    box-shadow: 0 0 25px;
}

#e:hover {
    background-color: white;
    cursor: pointer;
}

#e:active {
    background-color: silver;
    -webkit-box-shadow: 0 0 5px whitesmoke;
    box-shadow: 0 0 5px whitesmoke;
}

#e {
    background-color: silver;
    border: 2.5px solid black;
    -webkit-box-shadow: 0 0 25px;
    box-shadow: 0 0 25px;
}

#g:hover {
    background-color: white;
    cursor: pointer;
}

#g:active {
    background-color: whitesmoke;
    -webkit-box-shadow: 0 0 25px whitesmoke;
    box-shadow: 0 0 25px whitesmoke;
}

#g {
    background-color: silver;
    border: 2.5px solid black;
    -webkit-box-shadow: 0 0 25px;
    box-shadow: 0 0 25px;
}

#a:hover {
    background-color: white;
    cursor: pointer;
}

#a:active {
    background-color: silver;
    -webkit-box-shadow: 0 0 5px whitesmoke;
    box-shadow: 0 0 5px whitesmoke;
}

#a {
    background-color: silver;
    border: 2.5px solid black;
}

#b:hover {
    background-color: white;
    cursor: pointer;
}

#b:active {
    background-color: silver;
    -webkit-box-shadow: 0 0 25px whitesmoke;
    box-shadow: 0 0 25px whitesmoke;
}

#b {
    background-color: silver;
    border: 2.5px solid black;
    -webkit-box-shadow: 0 0 25px;
    box-shadow: 0 0 25px;
}

.speaker {
    margin: auto;
    border-radius: 100%;
}

hr {
    margin-bottom: -30px;
}

.hole {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 50px;
    height: 15px;
    width: 15px;
    margin-left: 10px;
    background-color: grey;
    border-radius: 100%;
    border: inset 4px;
}

h1 {
    letter-spacing: 20px;
    font-family: cursive;
    color: whitesmoke;
    text-shadow: 0 0 5px white;
    position: relative;
    bottom: 440px;
}

.knobs {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 40px;
    height: 25px;
    width: 24px;
    background-color: transparent;
    color: white;
    text-align: center;
    border-radius: 100%;
    border: inset dodgerblue;
    margin: 30px 40px 0px 10px;
    padding: 2px 0 0 5px;
    font-family: Oswald;
}
