body {
    background-color: #534C4C;
}


/*This is the style for our boxs' container. With it we can position and center the boxes in the browser.*/



/*This is the style that give our music boxes shape*/


.box h2 {
	font-family:monospace; 
	margin-top: -475px;
	color:white;
	    font-size: 24px;
			text-shadow: 0 0 10px snow;
			position: relative;
			top: 75px;
			right: 7px;
	
			
}

/*These are the styles that individually color our boxes and also determine the hover and active states*/

#E:hover {
    background-color: white;
    cursor: pointer;
}

#E:active {
    background-color: whitesmoke;
		box-shadow: 0 0 5px whitesmoke;

}

#E {
	
    background-color: silver;
    border: 2.5px solid black;
	box-shadow:0 0 25px black;	
}

#d:hover {
    background-color: snow;
    cursor: pointer;
}

#d:active {
    background-color: silver;
	box-shadow: 0 0 5px whitesmoke;

}

#d {
    background-color: silver;
    border: 2.5px solid black;
	box-shadow:0 0 25px  ;
}

#e:hover {
    background-color: white;
    cursor: pointer;
}


#e:active {
    background-color: silver;
	box-shadow: 0 0 5px whitesmoke;

}

#e {
    background-color: silver;
    border: 2.5px solid black;
	box-shadow:0 0 25px  ;
}


#g:hover {
    background-color: white;
    cursor: pointer;
}

#g:active {
    background-color: whitesmoke;
	box-shadow: 0 0 25px whitesmoke;

}

#g {
 background-color: silver;
    border: 2.5px solid black;
	box-shadow:0 0 25px  ;}

#a:hover {
    background-color: white;
    cursor: pointer;
}


#a:active {
    background-color: silver;
	box-shadow: 0 0 5px whitesmoke;

}

#a {
    background-color: silver;
    border: 2.5px solid black;
}

#b:hover {
    background-color: white;
    cursor: pointer;
}

#b:active {
    background-color: silver;
	box-shadow: 0 0 25px whitesmoke;
}

#b {
   background-color: silver;
    border: 2.5px solid black;
	box-shadow:0 0 25px  ;
}


.speaker {
  margin:auto;
  border-radius:100%;

}
hr {
position:static;
  bottom:-10px;
}

.hole {
  display: inline-flex;
  margin-top:50px;
  height:15px;
  width:15px;
  margin-left:10px;
  
  background-color:grey;
  border-radius:100%;
  border:inset 4px;

}
h1 {
 letter-spacing:20px;
  font-family:cursive;
  color: whitesmoke;
  text-shadow:0 0 5px white;
  position:relative;
  bottom:440px;
}

.knobs {
  display: inline-flex;
  margin-top:40px;
   height:25px;
  width:24px;
  background-color:fff;
  border-radius:100%;
  border:inset dodgerblue; 
  margin: 
    30px 40px 0px 10px
  
}

h3 {
  font-size:0.6em;
margin:auto;
  color:snow;
}
